.page__slider {
  .bx-wrapper {
    .bx-pager {
      margin-top: $dist/2;
      .bx-pager-item {
        a {
          width: $dist/2;
          height: $dist/2;
          background: $box-color;

          &.active,
          &:hover {
            background: $ac;
          }
        }
      }
    }

    .bx-controls-direction {
      a {
        @extend %btn;
        @extend %btn-white;
        padding: $dist/6 !important;
        margin-top: -$dist/2;

        &:after {
          font-size: $fs-medium;
        }
      }

      .bx-prev {
        left: $dist/2;
      }

      .bx-next {
        right: $dist/2;
      }
    }
  }

  .slides__slide {
    .slide__caption {
      bottom: $dist*2;
      left: $dist*2;
      right: $dist*2;

      h3 {
        font-size: $fs-bigger;
      }

      h3 + p {
        margin-top: $dist/4;
      }

      p + .btn,
      h3 + .btn {
        margin-top: $dist/2
      }

      @include breakpoint($bp-s, $bp-l) {
        bottom: $dist;
        left: $dist;
        right: $dist;
      }

      @include breakpoint(null, 820px) {
        .btn {
          font-size: $fs;
          border-width: 2px;
          padding: $dist/4;
        }
      }

      @include breakpoint(null, $bp-s) {
        bottom: $dist/2;
        left: $dist/2;
        right: $dist/2;

        h3 {
          font-size: $fs-big;

          & + .btn {
            margin-top: $dist/4 !important;
          }
        }

        .btn {
          font-size: $fs-small;
        }
      }
    }
  }
}